.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__curent-group
        group
      .main-header__left-box__member
        member
        
    .main-header__edit-btn
      =link_to "#", class: "edit__btn" do
        Edit
  .massages
    .massage
      .massage__name
        user
      .massage__date
        日付
    .massage__text
      massage
  .form
    .message__low
      .new-message
        %input{type:"text",placeholder:"message", class: "new-message__input"}
        %label{class: "new-message__image"}
          = icon('fas', 'image', class: "new-message__image__icon")
          %input{type: "file",class: "new-message__image__file"}
      .submit
        %input{type:"submit",class:"submit__btn",value:"Send",name:"commit"}