.chat-side
  .header
    .user_name
      seo
    .icons
      =link_to "#", class: "contents__btn" do
        = icon 'fa fa-edit', '500px' 
      =link_to "#", class: "contents__btn" do
        = icon 'fa fa-cog', '500px'
    
  .groups
    .group
      .group__name
        test
      .group__message
        メッセージです
    .group
      .group__name
        test２
      .group__message
        メッセージです２
    .group
      .group__name
        test３
      .group__message
        メッセージです ３
